*{
   margin: 0%;
   padding: 0%;
   box-sizing: border-box;
}
.container{
    min-height:125vh;
    width:100%;  
    position: relative;
}
.box1{
    width: 100%;
    height: 100vh;
}
video{
    width: 100%;
    height:125vh ;
    background-color:rgb(142, 140, 140);  
    filter: brightness(100%); 
    object-fit: cover;
}
.vidio-contain{
    width: 100%;
    height: 100vh;
    background-color:gainsboro;
    border: 1px solid black ;
}
.vidio-contain video{
    width: 100%;
    height: 100vh;
    object-fit: cover;
}
.a{
    text-decoration:none ;
    color:black;
}
.logo{
    height:50px ;
    width:50px ;
    border-radius:50% ;
}
.header{
    width: 100%;  
    background-color:black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 999;
    padding: 5px 45px;
    justify-content: space-between;
    align-items: center;
    position: fixed;
}
.right-head{
    display: flex;
    font-style:oblique; 
    gap: 20px;
}
.right-head button{
    padding: 5px;
    width: 120px;
    font-weight: bold;
    background: none;
    border: none;
    border-radius: 10px;
    color:white;
    font-size: 18px;
}
i{
    font-size: 40px;
    color:white;
}
.but1:hover{
    cursor: pointer;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border:transparent ;
    transform: scale(1.2);

}
.header input:checked~ .right-head{
      background-color:orangered;
      left: 0;
      transition: 2s;
}
.input{
    display: none;
}
.header i{
    display:none;
}
.box{
    background-color: darkcyan;
    position: absolute;
    top:67%;
    width: 100%;
    height:35%;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-around;
}
.login-page{
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.login-box{
    border-radius: 10px;
    position:absolute;
    top:10%;
    background-color: gainsboro;
    width:auto;
    height:auto ;
    padding: 50px;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    gap:10px;
}
h2{
    color: orangered;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
form {
    max-width: 400px;
    margin: 0 auto;
}

input[type=text], textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}

input[type=submit] {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #45a049;
}
@media screen and (max-width:800px) {
    .right-head{
        position: fixed;
        left: -100%;
        transition: 2s;
        background-color:cadetblue;
        top: 63px;
        width: 100%;
        z-index: 999;
        flex-direction: column;
        height: 90vh;
        display: grid;
        justify-content: center;

    }
    .vidio-contain{
        width: 100%;
        height: 100vh;
    }
    .header i{
        display: inline;
    }

 
}
/* .............................................container1......................................................... */
.container1{
    min-height: 100vh;
    padding:20px ;
    background-color: gainsboro;
    display: flex;
    justify-content: center;
    align-items: center;
}
.contacts{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    
}
.contact-info{
    background-color:rgba(0, 0, 0, 0.31);
    width: 60%;
    min-height:450px;
    padding: 50px 10px 10px 50px;
}
.info{
    font-size: 20px;
    color:white;
}
.mape{
    width: 40%;
    background-color:rgba(0, 0, 0, 0.31);
    height: 450px;
    padding: 20px;  
}
u{
    display: block;
}
.map{
    width: 100%;
    height:100% ;
}
.contact-info p{
    font-size:20px ;
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
    height:60px ;
}
.contact-info p:hover {
    cursor: pointer;
    color: blue;
}
.contact-info button{
    width: 110px;
    padding: 8px;
    color: white;
    font-size:20px ;
    border-radius: 20px;
    border: none;
    background-color: orangered;
}
.contact-info a{
    text-decoration: none;
    color: white;
}
@media screen and (max-width:800px){
    .container1{
        min-height:100vh ;
    }
    .contacts{
        width: 100%;
        
    }
    .contact-info{
        width: 50%;
        padding: 30px 10px 10px 20px;
    }
    .info{
        font-size: 15px;
    }
    .mape{
        width: 50%;
    }
    .map{
        width:100%;
        height:100%;
    }
    .contact-info p{
        font-size:20px ;
        min-height: 50px;
    }
    .contact-info button{
        width: 110px;
        font-size:20px ;
        margin-top: 40px;
    }
    
}
@media screen and (min-width:300px) and (max-width:500px) {
    .contact-info p{
        font-size:18px ;
        min-height:10px;
    }
    .contact-info i{
        font-size:15px ;
    }
    .mape{
        width: 90%;
    }
    .contact-info button{
        width: 90px;
        font-size:20px ;
        margin-top: 30px;
    }
    .contact-info{
        padding:25px;
        width: 90%;
    }
    .container1{
        
        flex-direction: column;
    }   
}
/* ------------------------------NEXT PAGE____________________ */
.container6{
    min-height: 80vh;
    background-color: black;
    padding: 10px;
    
}
.main44{
    display: flex;
    margin: auto;
    gap: 10px;
    min-height:400px;
    width: 80%;
}
.main4{
    width:fit-content ;
    padding: 10px;
    height:400px;
    color: white;
}
.main4 h1{
    font-size:35px ;
    font-family: Georgia, 'Times New Roman', Times, serif;
    height: 90px;
    color: orangered;
}
.main4 p{
    font-size:20px ;
    height:40px ;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.main5 i{
    color:white ;
    padding:10px ; 
   visibility: hidden;
}
.main5 i:hover{
    transform: scale(1.4);
    cursor: pointer;
    color: orangered;
    transition-duration:2s ;
}
@media screen and (max-width:800px) {
    .container6{
        width: 100%;
        padding:30px ;
        min-height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        
        
    }
    .main44{
        height:fit-content;
        padding:10px;
        width:80%; 
        display: flex; 
        flex-direction: column;
    }
    .main4 h1{
        font-size:20px ;
        height: 60px;
        color: orangered;
    }
    .main4 p{
        font-size:15px ;
       height:40px ;
    }
    .main5{
        width: 100%;
    }
    .main5 i{
        font-size: 15px;
    }
    
}
@media screen and (min-width:800px) and (max-width:1200px){
    .container6{
        width: 100%;
        padding:50px 5px 5px 5px ;
        min-height: 100vh;
        justify-content:start;
        align-items: start;
        
    }
    .main44{
        height:fit-content;
        width:fit-content;
        display: flex;
     
    }
    .main4 h1{
        font-size:25px ;
        height: 60px;
    }
    .main4 p{
        font-size:15px ;
       height:40px ;
    }
    .main5{
        width: 100%;
    }
    .main5 i{
        font-size: 25px;
    }
    
}
@media screen and (min-width:500px) and (max-width:800px) {
    .container6{
        width: 100%;
        padding:50px 5px 5px 5px ;
        min-height: 100vh;
        justify-content:center;
        align-items: center;
        
    }
    .main44{
        height:fit-content;
        width:fit-content;
        gap:20px;
        flex-direction: column;
     
    }
    .main4 h1{
        font-size:50px ;
        height: 60px;
    }
    .main4 p{
        font-size:25px ;
       height:40px ;
    }
    .main5{
        width: 100%;
    }
    .main5 i{
        font-size: 35px;
        visibility: visible;
    }
    
}
@media screen and (max-width:500px) {
   .main4 h1{
    font-size: 40px;
    width: 80%;
    height: 90px;
   }
   .main4 p{
    font-size:20px ;
   }
   .main44{
    min-height:100px ;
    padding: 10px;
   }
    
}
